
body{
font-family:Arial, Helvetica, sans-serif;
background:#e5e5e5;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.app{
text-align:center;
}

.reloj{
position:relative;
width:420px;
margin:auto;
}

.fondo-reloj{
width:100%;
}

.pantalla{
position:absolute;
top:55%;
left:50%;
transform:translate(-50%,-50%);
background:#ffffff;
padding:14px 28px;
border-radius:12px;
font-size:28px;
font-weight:bold;
box-shadow:0 6px 12px rgba(0,0,0,0.25);
white-space:nowrap;
}

.controles{
margin-top:25px;
}

button{
border:none;
padding:12px 28px;
margin:6px;
font-size:16px;
border-radius:6px;
color:white;
cursor:pointer;
}

.verde{background:#28a745;}
.azul{background:#1e73e8;}
.rojo{background:#dc3545;}

button:hover{
opacity:0.9;
}
